@import './../../../global-style/basics/media-queries.pcss';
@import './../../../global-style/basics/links.pcss';
@import './../../../global-style/basics/typography.pcss';
@import './../../../global-style/keyframes/fadeIn.pcss';

.Meta {
  font-size: 0.5em;
  opacity: 0.5;
  user-select: none;
  cursor: default;
  position: fixed;
  bottom: 16px;
  right: 16px;
}

